.container .property_title {
    width: 100%;
    margin: 10px 0px 20px 0px;
}

.container .property_title h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.container .property_body {
    width: 100%;
    display: flex;
}

.container .property_body .property_body_left {
    width: 74%;
    margin-right: 20px;
}

.container .property_body .property_body_left img {
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.container .property_body .property_body_right {
    width: 25%;
}

.container .property_body .property_body_right .property_body_right_top {
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.container .property_body .property_body_right .property_body_right_top hr {
    color: rgb(212, 212, 212);
    margin: 10px 0px;
}

.container .property_body .property_body_right .property_body_right_top h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.container .property_body .property_body_right .property_body_right_top a {
    background-color: rgb(0, 13, 70);
    margin: 10px 0px 0px auto;
    padding: 10px 0px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.container .property_body .property_body_right .property_body_right_top .property_icon {
    font-size: 1.2rem;
    margin: 0px 8px 0px 0px;
}
