footer {
    background: #000;
}

footer .container {
    width: 90%;
    margin: auto;
    color: #fff;
}

footer .container .footer_bottom, footer .container .footer_top {
    display: flex;
    font-weight: 300;
}

footer .container .footer_top img {
    width: 40%;
}

footer .container .footer_top .footer_logo {
    width: 40%;
}


footer .container .footer_top .footer_top_links, footer .container .footer_top .footer_contact, footer .container .footer_top .footer_follow {
    width: 20%;
}


footer .container .footer_top div h2 {
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

footer .container .footer_top div {
    width: 25%;
    padding: 30px 0px 0px 0px;
}

footer .container .footer_top .footer_top_links {
    display: flex;
    flex-direction: column;
}

footer .container .footer_top .footer_top_links a:hover {
    color: #b87700;
}

footer .container .footer_top div .footer_top_icons {
    display: flex;
    padding: 20px 0 0 0;
}

footer .container .footer_top div .footer_top_icons a {
    padding-right: 10px;
}

footer .container .footer_top div .footer_top_icons a:hover {
    color: #b87700;
}

footer .container .footer_bottom .footer_bottom_left, footer .container .footer_bottom .footer_bottom_right {
    width: 50%;
    padding: 20px 0 10px 0;
}

footer .container .footer_bottom .footer_bottom_right a {
    color: #b87700;
    font-weight: 400;
    font-style: italic;
}

footer .container .footer_bottom .footer_bottom_right a:hover {
    color: rgb(3, 173, 45);
    font-weight: bold;
}

footer .container .footer_bottom .footer_bottom_right {
    text-align: right;
}

@media (max-width: 768px) {
    footer .container .footer_bottom, footer .container .footer_top {
        display: block;
    }

    footer .container .footer_top .footer_logo, footer .container .footer_top .footer_top_links, footer .container .footer_top .footer_contact, footer .container .footer_top .footer_follow {
        width: 100%;
    }

    footer .container .footer_top div {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    footer .container .footer_top div img {
        width: 100%;
    }

    footer .container .footer_bottom .footer_bottom_left, footer .container .footer_bottom .footer_bottom_right {
        width: 100%;
        text-align: center;
    }

    footer .container .footer_bottom .footer_bottom_right {
        padding-top: 0;
    }
}