@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --theme-color: #b87700;
    --bg-color-1: #001763;
}